<% content_for :title, "Editing product" %>

<article class="product-edit">
  <header>
    <h1>Edit Product</h1>
  </header>

  <section class="edit-form">
    <%= render "form", product: @product %>
  </section>

  <nav class="product-actions">
    <%= link_to "Show", @product, class: "button" %> |
    <%= link_to "Back to Products", products_path, class: "button" %>
  </nav>
</article>
